html, .page, .page-header, .page-footer {
  transition: color, background-color 0.5s ease 0s;
}

tr {
  transition: background-color 0.3s ease 0s;
}

.nav-item {
  transition: background-color 0.3s ease 0s;
}

.nav_item a {
  transition: color, fill 0.3s ease 0s;
}

.message {
  animation: slide-in 0.5s ease;
}

.message-removed {
  animation: slide-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-10%);
  }
}

@keyframes slide-out {
  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-100%);
  }
}
