body {
  background: var(--body-background);
}

table {
  width: 100%;
  table-layout: fixed;
  border: var(--table-border);
  background: var(--table-background);
}

th {
  padding: 0.75rem 1rem;
  color: var(--th-color);
  background: var(--th-background);
}

tr:nth-child(odd) {
  background: var(--tr-odd-background);
}

tr:hover {
  background: var(--tr-hover);
}

td {
  padding: 0.5rem 1rem;
}

caption {
  opacity: 0.75;
}

.page {
  max-width: 768px;
  margin: 0;
  color: var(--page-color);
  background: var(--page-background) !important;
  box-shadow: var(--page-shadow);
}

@media (min-width: 768px) {
  .page {
    max-width: 750px;
    margin: 5vh auto;
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 30px;
  color: var(--page-header-color);
  background: var(--page-header-background);
  box-shadow: var(--page-header-shadow);
}

.header-title {
  font-size: 2.5rem;
  display: inline-block;
  margin: 0;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  border-radius: 0.2rem;
}

.nav-item a {
  font-weight: 700;
  display: block;
  padding: 1rem 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--page-header-color);
  fill: var(--page-header-color);
}

.nav-item svg {
  height: 1rem;
}

.nav-item:hover {
  background: var(--page-header-color);
}

.nav-item a:hover {
  text-decoration: none;
  color: var(--page-header-background);
  fill: var(--page-header-background);
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 1rem 30px;
  color: var(--page-footer-color);
  background: var(--page-footer-background);
  box-shadow: var(--page-footer-shadow);
  gap: 30px;
}

.page-footer > p {
  display: inline-block;
  margin: 0;
}

.message-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.message {
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 0.5rem 15px;
  color: var(--message-color);
  background: var(--message-background);
  box-shadow: var(--message-shadow);
}

.message-text {
  display: inline-block;
  margin: 0;
}

.error-message {
  color: var(--error-color);
  background: var(--error-background);
  box-shadow: var(--error-shadow);
}

#levels {
  padding: 1rem 30px;
}
