:root {
  --primary-color: rgb(244, 67, 54);
  --primary-text-color: rgb(255, 255, 255);

  --body-background: rgb(237, 237, 237);

  --table-border: 1px solid rgba(86, 61, 124, 0.2);
  --table-background: rgb(255, 255, 255);
  --th-background: rgb(255, 255, 255);
  --th-color: var(--primary-color);
  --tr-odd-background: rgba(0, 0, 0, 0.05);
  --tr-hover: rgba(0, 0, 0, 0.1);

  --page-background: rgb(250, 250, 250);
  --page-header-background: rgb(255, 255, 255);
  --page-footer-background: rgb(255, 255, 255);

  --page-color: rgba(0, 0, 0, 0.85);
  --page-header-color: var(--primary-color);
  --page-footer-color: var(--primary-color);

  --page-shadow: 0 2px 4px 0 rgba(48, 48, 48, 0.3);
  --page-header-shadow: 0 2px 1px -1px rgba(48, 48, 48, 0.3);
  --page-footer-shadow: 0 -2px 1px -1px rgba(48, 48, 48, 0.3);

  --message-background: rgb(255, 255, 255);
  --message-color: rgba(0, 0, 0, 0.85);
  --message-shadow: 0 -2px 1px -1px rgba(48, 48, 48, 0.3);

  --error-background: rgb(239, 83, 80);
  --error-color: rgb(255, 255, 255);
  --error-shadow: 0 -2px 1px -1px rgba(48, 48, 48, 0.3);
}
