:root {
  --primary-color: rgb(244, 67, 54);
  --primary-text-color: rgb(255, 255, 255);

  --body-background: rgb(0, 0, 0);

  --table-border: 1px solid rgb(36, 36, 36);
  --table-background: rgb(36, 36, 36);
  --th-background: rgb(36, 36, 36);
  --th-color: var(--primary-color);
  --tr-odd-background: rgba(255, 255, 225, 0.05);
  --tr-hover: rgba(255, 255, 225, 0.1);

  --page-background: rgb(18, 18, 18);
  --page-header-background: rgb(36, 36, 36);
  --page-footer-background: rgb(36, 36, 36);

  --page-color: rgba(255, 255, 255, 0.85);
  --page-header-color: var(--primary-color);
  --page-footer-color: var(--primary-color);

  --page-shadow: none;
  --page-header-shadow: none;
  --page-footer-shadow: none;

  --message-background: rgb(45, 45, 45);
  --message-color: rgba(255, 255, 255, 0.85);
  --message-shadow: none;

  --error-background: rgb(239, 83, 80);
  --error-color: rgb(255, 255, 255);
  --error-shadow: none;
}
